@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Código CSS de la página Login */
.login_body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555; /* Gris oscuro */
    font-family: "Montserrat", sans-serif;
}

.container-login {
    width: 85%; /* 800px */
    height: 100%;
    display: flex;
    position: relative;
    background-color: #555555; /* Gris oscuro - Igual al fondo de la página */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.container-form {
    width: 100%;
    overflow: hidden;
}

.container-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: white; /* Blanco */
}

.social-network {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.social-network ion-icon {
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    background-color: #555555; /* Gris oscuro */
    color: white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-network ion-icon:hover {
    color: #ff6600; /* Cambiar color de los íconos a naranja brillante */
    transform: scale(1.1); /* Agrandar ligeramente el icono */
}

.container-form span {
    font-size: 15px;
    margin-bottom: 15px;
    color: white; /* Blanco */
}

.container-input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #ffffff; /* Gris medio */
}

.container-input input {
    border: none;
    outline: none;
    width: 100%;
    height: 85%;
    background-color: inherit;
    color: #050000;
    font-size: 13px;
    transition: background-color 0.3s, border 0.3s;
}

.container-input input:hover {
    border: 1px solid #ff6600; /* Borde naranja */
    background-color: #f4f4f4; /* Fondo más claro */
}

.container-form a {
    color: white; /* Blanco */
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s;
}

.container-form a:hover {
    color: #ff6600; /* Cambiar el color del texto a naranja brillante */
    text-decoration: underline; /* Subrayar el texto */
}

.button {
    width: 170px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: orangered; /* Naranja-rojo */
    color: white; /* Blanco */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
    background-color: #ff6600; /* Naranja brillante */
    border-radius: 5px;
    transition: 200ms ease-in-out;
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

/* Animación form */
.sign-up {
    transform: translateX(-100%);
}

.container-login.toggle .sign-in {
    transform: translateX(100%);
}

.container-login.toggle .sign-up {
    transform: translateX(0);
}

/* Welcome */
.container-welcome {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: orangered;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    overflow: hidden;
    transition: 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    border-radius: 50% 0 0 50%;
}

.container-login.toggle .container-welcome {
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: orangered;
}

.container-welcome .welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    color: white; /* Blanco */
    transition: transform 0.5s ease-in-out;
}

.welcome-sign-in {
    transform: translateX(100%);
}

.container-welcome h3 {
    font-size: 40px;
    color: white;
}

.container-welcome p {
    font-size: 14px;
    text-align: center;
}

.container-welcome .button {
    border: 2px solid white;
    background-color: transparent;
}

.container-login.toggle .welcome-sign-in {
    transform: translateX(0);
}

.container-login.toggle .welcome-sign-up {
    transform: translateX(-100%);
}
.mobile-toggle-buttons {
    display: none;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}
/* Fin del código CSS de la página Login */
